.DS_Store
*.pyc
*.pyo
*.bat
*.db
*.db-journal
*.swp
*.svn
*.kate-swp
*.sh
*~
*.nja
*.log
*.cache
.idea
nbproject
static_collected/
media/
.src
app.cache/
.coverage
docs/node_modules
docs/*.log
docs/build
htmlcov
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg